@font-face {
	font-family: 'Crimson Pro';
	src: url('/font/CrimsonPro-VariableFont_wght.ttf'),
		url('/font/CrimsonPro-Italic-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'SpecialElite';
	src: url('/font/SpecialElite-Regular.ttf');
}

:root {
	--background: #2E2B31;
	--highlight: #D9683F;
	--background-transparent: #2e2b31b3;
	--text: #E9E9E4;
	--dark-text: #424242;
	--primary: #73B4A3;
	--primary-hover: #93dfcb;
	--dark: #825444;
	--white: #E9E9E4;
	--off-white: #c4c4bf;
	--error-text: #720000;
	--error-background: #d59595;
	--border-radius: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Crimson Pro', Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
}

body h1 {
	font-size: 3rem;
}

body h2 {
	font-size: 2rem;
}

body h3 {
	font-size: 1.75rem;
}

body p {
	line-height: 2rem;
}

a {
	color: var(--primary);
	text-decoration: underline;
	text-underline-offset: 25%;
}

a:hover {
	color: var(--white);
}

button {
	font-family: inherit;
}

.middot {
	color: var(--primary);
	font-weight: bold;
	padding: 0.35rem;

}

.post-body h2, h3, h4 {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.post-body a {
	text-underline-offset: 0%;
}

.post-body p {
	margin-bottom: 1rem;
	text-align: justify;
}

.post-body hr {
	border-bottom: 1px solid var(--primary);
	width: 50%;
	margin: 3rem auto;
}

.post-body pre {
	border: 1px solid var(--primary);
	margin-bottom: 1.5rem;
	overflow: auto;
	padding: 1.5rem;
}

.post-body code {
	color: var(--text);
	background-color: var(--background);
	font-family: 'Courier New', Courier, monospace;
}

.post-body pre code {
	background-color: transparent;
}

.post-body ul {
	padding-left: 3rem;
	margin-bottom: 1.5rem;
}

.post-body ol {
	padding-left: 3rem;
	margin-bottom: 1.5rem;
}

.post-body li {
	margin-bottom: .75rem;
}

.post-body blockquote {
	border-left: 2px solid var(--primary);
	padding: 0 0 0 2rem;
	margin: 3rem 0rem 3rem 3rem;
}

.error {
	color: rgb(114, 0, 0);
	background-color: rgb(213, 149, 149);
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	text-align: center !important;
	border-radius: var(--border-radius);
}